<head>
  <link rel="stylesheet" href="/stylesheets/site.css"/>
</head>
<body>
<div class="container">
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <!-- <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div> -->
  <a href="/projects">Projects</a>
</div>
