<head>
  <link rel="stylesheet" href="/stylesheets/site.css"/>
</head>
<body>
<div class="container">
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="/projects">Projects</a>
</div>
<h4>I try to find a balance between tech and non-tech projects to work on.</h4>
<% projects_list.each do |name, description|%>
<a href="projects/<%=name%>"><%=name%></a> <%=description%><br/>
<%end%>
