<head>
  <link rel="stylesheet" href="stylesheets/site.css"/>
  <title>Kendrick Martin</title>
</head>
<body>
  <div class="header-line"></div>
  <div class='name'>
    Hello, my name is <em>Kendrick Martin</em> <br/> I'm a software developer
  </div>
  <div class="container">
    <a href="#home">Home</a>
    <a href="/blog">Blog</a>
    <!-- <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> -->
    <a href="/projects">Projects</a>
  </div>
  <img class='profile-image' src='images/profile.jpg'/>
  <div class='about-me'>
    <h1>I'm a software engineer/sre-enthusiast polymath from the Pacific Northwest.</h1>
    <div class='about-me-text'>
      <p>
        I can help design, build, and expand your software projects. I'm always looking
      for a new project to work on.
      </p>
      <p>Want to chat? Drop me a line hey@kmartinix.com</p>
    </div>
  </div>


</body>
