<head>
  <link rel="stylesheet" href="stylesheets/site.css"/>
  <title>Kendrick Martin</title>
</head>
<body>
  <div class="container">
    <a href="#home">Home</a>
    <a href="/blog">Blog</a>
    <!-- <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> -->
    <a href="/projects">Projects</a>
  </div>
  <img class='profile-image' src='images/profile.jpg'/>


<div class='about-me'>
  Hello, my name is Kendrick Martin. I work on a variety of software projects.
</div>
</body>
